.signup
  .signup__wrapper
    .signup__header
      = link_to root_path do
        = image_tag("/top_images/mercari_color.svg", class: "mercari_calor_icon")

    .signup__main
      .signup__title
        新規会員登録
      .signup__form
        = link_to new_signup_registration_path do
          .signup__form--mercari-login-button
            .far.fa-envelope.signup__mail_icon
            メールアドレスで登録

        = link_to user_facebook_omniauth_authorize_path do
          .signup__form--facebook-button
            = icon('fab','facebook', class: "signup__facebook_icon")
            Facebookで登録
        = link_to user_google_oauth2_omniauth_authorize_path do
          .signup__form--google-button
            = image_tag('/links/google.svg', class: "signup__google_icon")
            Googleで登録

    = render "/signup/shered/signup_fotter"
