- button_titles_main =[{title:"マイページ",link:mypage_path(current_user)},{title:"お知らせ"},{title:"やることリスト"},{title:"いいね ! 一覧"},{title:"出品する",link:new_item_path},{title:"出品した商品 - 出品中"},{title:"出品した商品 - 取引中"},{title:"出品した商品 - 売却済み"},{title:"購入した商品 - 取引中"},{title:"購入した商品 - 過去の取引"},{title:"ニュース一覧"},{title:"評価一覧"},{title:"ガイド"},{title:"お問い合わせ"}]

- button_titles_mercari = [{title:"売上・振込申請"},{title:"ポイント"}]

- button_titles_setting = [{title:"プロフィール",link:edit_mypage_path(current_user)},{title:"発送元・お届け先住所変更"},{title:"支払い方法",link:mypages_cards_path},{title:"メール/パスワード"},{title:"本人情報",link:new_mypages_identification_path},{title:"電話番号の確認"},{title:"ログアウト",link:mypages_logouts_path}]

- buttons_box = [[nil,button_titles_main],["メルペイ",button_titles_mercari],["設定",button_titles_setting]]

- button_num = 0


.mypage__sidebar
  - buttons_box.each do |buttons|
    .mypage__buttons
      - if !buttons[0].nil?
        .mypage__buttons--title
          = buttons[0]
      -  buttons[1].each do |title_link|
        = link_to title_link[:link] do
          - if button_num == button_main_number then
            .mypage__button--main
              .mypage__button--main-title
                = title_link[:title]
              .mypage__button--main-arrow-icon
                = icon('fas','chevron-right')
          - else
            .mypage__button
              .mypage__button--title
                = title_link[:title]
              .mypage__button--arrow-icon
                = icon('fas','chevron-right')
        - button_num += 1
