= render "shered/header"
.pankuzu
  - breadcrumb :new_mypages_card
  = breadcrumbs separator: "<text class='fas fa-chevron-right pankuzu__arrow-icon'></text>"
.mypage
  - button_main_number = 18
  = render "/mypages/shered/header",button_main_number:button_main_number
  .mypage__main
    .card_new
      .card_new__title
        クレジットカード情報入力
      .card_new__content
        .card_new__content__box
          .card_new__content__box__card_no
            .card_new__content__box__card_no__upper
              %span.card_new__content__box__card_no__upper--title
                カード番号
              %span.card_new__content__box__card_no__upper--mark
                必須
            %input.card_new__content__box__card_no--textbox{type: "text",placeholder:"半角数字のみ"}
            .card_new__content__box__card_no__cardlist
              =image_tag("/mypage_images/card_new/visa.svg/",class: "card_new__content__box__card_no__cardlist--image")
              =image_tag("/mypage_images/card_new/master-card.svg/",class: "card_new__content__box__card_no__cardlist--image")
              =image_tag("/mypage_images/card_new/saison-card.svg/",class: "card_new__content__box__card_no__cardlist--image")
              =image_tag("/mypage_images/card_new/jcb.svg/",class: "card_new__content__box__card_no__cardlist--image")
              =image_tag("/mypage_images/card_new/american_express.svg/",class: "card_new__content__box__card_no__cardlist--image")
              =image_tag("/mypage_images/card_new/dinersclub.svg/",class: "card_new__content__box__card_no__cardlist--image")
              =image_tag("/mypage_images/card_new/discover.svg/",class: "card_new__content__box__card_no__cardlist--image")
          .card_new__content__box__card_no
            .card_new__content__box__card_no__upper
              %span.card_new__content__box__card_no__upper--title
                有効期限
              %span.card_new__content__box__card_no__upper--mark
                必須

            .card_new__content__box__day
              .card_new__content__box__day__box
                %input.card_new__content__box__day__box--text{type: "text",placeholder:"---"}
                .fas.fa-chevron-down.card_new__content__box__day__box--allow-icon
              .card_new__content__box__day--right-text
                月
            .card_new__content__box__day
              .card_new__content__box__day__box
                %input.card_new__content__box__day__box--text{type: "text",placeholder:"---"}
                .fas.fa-chevron-down..card_new__content__box__day__box--allow-icon
              .card_new__content__box__day--right-text
                年


          .card_new__content__box__card_no
            .card_new__content__box__card_no__upper
              %span.card_new__content__box__card_no__upper--title
                セキュリティコード
              %span.card_new__content__box__card_no__upper--mark
                必須
            %input.card_new__content__box__card_no--textbox{type: "text",placeholder:"カード背面4桁もしくは3桁の番号"}
            .card_new__content__box__discription
              .fas.fa-question-circle.card_new__content__box__discription--icon
              .card_new__content__box__discription--text
                カード裏面の番号とは？
          .card_new__content__box__red-button
            = form_tag(action: :create, method: :post) do
              %script.payjp-button{"data-key" => "#{ENV['PAYJP_PUBLIC_KEY']}", :src => "https://checkout.pay.jp", :type => "text/javascript", "data-token-name" => "token_name"}

= render "shered/fotter"
