= render "shered/header"
.pankuzu
  - breadcrumb :mypages_logouts
  = breadcrumbs separator: "<text class='fas fa-chevron-right pankuzu__arrow-icon'></text>"
.mypage
  - button_main_number = 22
  = render "/mypages/shered/header",button_main_number:button_main_number

  .mypage__main
    .logout__box
      = link_to destroy_user_session_path,method: "delete" do
        .logout__button
          ログアウト


= render "shered/fotter"
