= render "shered/header"


- button_titles_main =["マイページ","お知らせ","やることリスト","いいね ! 一覧","出品する","出品した商品 - 出品中","出品した商品 - 取引中","出品した商品 - 売却済み","購入した商品 - 取引中","購入した商品 - 過去の取引","ニュース一覧","評価一覧","ガイド","お問い合わせ"]

- button_titles_mercari = ["売上・振込申請","ポイント"]

- button_titles_setting = ["プロフィール","発送元・お届け先住所変更","お支払い方法","メール/パスワード","本人情報","電話番号の確認","ログアウト"]

- buttons_box = [[nil,button_titles_main],["メルペイ",button_titles_mercari],["設定",button_titles_setting]]

- button_num = 0

.mypage

  .mypage__sidebar
    - buttons_box.each do |buttons|
      .mypage__buttons
        - if !buttons[0].nil?
          .mypage__buttons--title
            = buttons[0]
        -  buttons[1].each do |title|
          = link_to do
            - if button_num == 0 then
              .mypage__button-main
                .mypage__button--title-main
                  = title
                .mypage__button--arrow-icon-main
                  = icon('fas','chevron-right')
            - else
              .mypage__button
                .mypage__button--title
                  = title
                .mypage__button--arrow-icon
                  = icon('fas','chevron-right')
          - button_num += 1

  .mypage__main
    .mypage__top-information
      = image_tag('/top_images/mypage_image.jpg', class: 'mypage__top--mypage_icon')
      .mypage__top--information-name
        test_name
      .mypage__top--information-evaluation_Exhibit
        .mypage__top--information-evaluation
          評価   0
        .mypage__top--information-Exhibit
          出品数   0
    .mypage__top-select-button
      .mypage__top-select-button--right
        .mypage__top-select-button--right-text
          お知らせ
      .mypage__top-select-button--left
        .mypage__top-select-button--left-text
          やることリスト

    - 5.times do
      .mypage__notice-box
        .mypage__notice-box_list
          .mypage__notice-box_article
            = image_tag("/mypage_images/mercari_profile.png",class: "mypage__notice-box_article-icon")
            .mypage__notice-box_article-middle-box
              .mypage__notice-box_article-text
                全額ポイントバック新生活応援キャンペーン実施中！
              .mypage__notice-box_time
                = icon('far','clock',class: "mypage__notice-box_article-text")
                1日前
            .mypage__notice-box_arrow-icon-box
              = icon('fas','chevron-right',class: "mypage__notice-box_arrow-icon")

    .mypage__notice-all-view-button-box
      .mypage__notice-all-view-button
        一覧を見る

    .mypage__top--do-list
      .mypage__top--do-list_list
    .mypage__bottom--middle-space
    .mypage__bottom--title
      購入した商品
    .mypage__bottom--select-button
      .mypage__bottom--select-button--right
        .mypage__bottom--select-button--right-text
          取引中
      .mypage__bottom--select-button--left
        .mypage__bottom--select-button--left-text
          過去の取引
    .mypage__bottom--during-trading-box
      取引中の商品がありません

    .mypage__bottom--past-transactions
      過去に取引した商品がありません


= render "shered/fotter"
