.buy__wrapper
  .buy__header
    = link_to root_path do
      = image_tag("/top_images/mercari_color.svg", class: "mercari_color_icon" )

  .buy
    .buy__title
      購入を確定しますか？
    %hr.buy__line
    .buy__content
      .buy__content--inner
        = image_tag(@item.item_images.first.image.url,class: "buy__content__image")
      %p.buy__item-name
        #{@item.name}
      .buy__price--box
        %p.buy__price
          ¥ #{number_with_delimiter(@item.price)}
          %span.buy__shipping-fee
            #{@item.shipping_style.name}
      .buy__point--box
        %p.buy__point
          ポイントはありません
      .buy__payment-box
        .buy__payment-box__text
          支払い金額
        .buy__payment-box__price
          ¥ #{number_with_delimiter(@item.price)}

      - if @credits.empty? or current_user.credit_cards.empty?
        %p.buy__has-error-text
          クレジットカードの入力を完了してください。
        = button_tag("購入する",class:"buy__buy-botton-false")
      - elsif current_user.credit_cards.first.customer_id = true
        = form_tag(action:"pay", method: "post",item_id: @item.id,item_price: @item.price) do
          = button_tag("購入する",class:"buy__buy-botton")
      - else
        予期せぬエラーが発生しました
    %hr.buy__line
    .buy__content2
      .buy__content2__address
        .buy__content2__address__top
          配送先
        %address.buy__content2__address__center
          〒563-0058
        .buy__content2__address__button
    %hr.buy__line
    .buy__content3
      .buy__content3__payment
        %h3.buy__content3__payment__top
          支払い方法
        %address.buy__content3__payment__center
          ・クレジット払い
        .buy__content3__payment__button
          =link_to do
            %span.buy__content3__payment__button--text
              変更する
            %i.buy__content3__payment__button--icon
              .fas.fa-chevron-right





  = render "shered/item_fotter"

