.item_new__wrapper
  .item_new__header
    = link_to root_path do
      = image_tag("/top_images/mercari_color.svg", class: "mercari_calor_icon" )
  .item_new
    = form_for @item do |f|
      .item_new__title
        商品の情報を入力
      %hr.item_new__line
        .image_form
          = f.fields_for :item_images do |i|
            .item_new__image
              .item_new__image--titles
                .item_new__child--title
                  出品画像
                .item_new__need_mark
                  必須
              .item_new__image--description
                最大10枚までアップロードできます
                .item_new__image--description-box
                  .item_new__image--select
                    = i.file_field :image ,class: " item_new__image--views-box input_image item_new__image--input-input"
              .item_new__image--box
                .item_new__image--input
                  ドラッグアンドドロップ
                  %br
                  またはクリックしてファイルをアップロード
                  %br

        .item_new__image--views
          .item_new__image--view
            = image_tag("",class:"item_new__image--view-image")
            .item_new__image--view-buttons
              .item_new__image--view-buttons-edit-button
              .item_new__image--view-buttons-new-button


        %hr.item_new__line
        .item_new__item_name_description
          .item_new__item_name_description--name
            .item_new__item_name_description--name-title
              .item_new__child--title
                商品名
              .item_new__need_mark
                必須
            = f.text_field :name,class: "item_new__item_name_description--name-input",type: "text",placeholder:"商品名 (必須 40文字まで)"
          .item_new__item_name_description--description
            .item_new__item_name_description--description-titile
              .item_new__child--title
                商品の説明
              .item_new__need_mark
                必須
            = f.text_area :description, class: "item_new__item_name_description--description-input",type: "textarea",placeholder:"商品の説明  (必須 1,000文字以内)  (色、素材、重さ、定価、注意点など)   例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"

        %hr.item_new__line
        .item_new__deteils
          .item_new__deteils--titile
            .item-new__sub--title
              商品の詳細
              .fas.fa-question-circle.item_new_question
          .item_new__deteils--right-box.item_new__right-box
            .item_new__deteils--box
              .item_new__deteils--name
                .item_new__child--title
                  カテゴリー
                .item_new__need_mark
                  必須
              = f.collection_select :category_ids ,Category.all,:id,:name,{multiple: true,include_blank: "---"},class: "item_new__deteils--input", type: "text"
              .fas.fa-chevron-down.item_new__allow-icon
            .item_new__deteils--box
              .item_new__deteils--name
                .item_new__child--title
                  サイズ
                .item_new__need_mark
                  必須
              = f.collection_select :item_size_ids,ItemSize.all,:id,:name,{multiple: true,include_blank: "---"},class: "item_new__deteils--input", type: "text"
              .fas.fa-chevron-down.item_new__allow-icon
            .item_new__deteils--box
              .item_new__deteils--name
                .item_new__child--title
                  ブランド
                .item_new__need_mark
                  必須
              = f.collection_select :brand_ids,Brand.all,:id,:name,{multiple: true,include_blank: "---"},class: "item_new__deteils--input", type: "text"
              .fas.fa-chevron-down.item_new__allow-icon
            .item_new__deteils--box
              .item_new__deteils--name
                .item_new__child--title
                  商品の状態
                .item_new__need_mark
                  必須
              = f.collection_select :condition_id ,Condition.all,:id,:name,{multiple: true,include_blank: "---"}, class: "item_new__deteils--input", type: "text", placeholder:"---"
              .fas.fa-chevron-down.item_new__allow-icon
        %hr.item_new__line
        .item_new__deteils
          .item_new__deteils--title
            .item-new__sub--title
              配送について
              .fas.fa-question-circle.item_new_question
          .item_new__deteils--shipping-right-box.item_new__right-box
            .item_new__deteils--name
              .item_new__child--title
                配送料の負担
              .item_new__need_mark
                必須
            = f.collection_select :shipping_burden_id ,ShippingBurden.all,:id,:name,{include_blank: "---"},class: "item_new__deteils--input" ,type: "text"
            .fas.fa-chevron-down.item_new__allow-icon
            .item_new__deteils--name
              .item_new__child--title
                配送料の負担
              .item_new__need_mark
                必須
            = f.collection_select :shipping_style_id ,ShippingStyle.all,:id,:name,{include_blank: "---"},class: "item_new__deteils--input" ,type: "text"
            .fas.fa-chevron-down.item_new__allow-icon
            .item_new__deteils--name
              .item_new__child--title
                発送元の地域
              .item_new__need_mark
                必須
            = f.collection_select :prefecture_id,Prefecture.all,:id,:name,{include_blank: "---"},class: "item_new__deteils--input",type: "text"
            .fas.fa-chevron-down.item_new__allow-icon
            .item_new__deteils--name
              .item_new__child--title
                発送までの日数
              .item_new__need_mark
                必須
            = f.collection_select :date_of_shipment_id ,DateOfShipment.all,:id,:name,{include_blank: "---"},class: "item_new__deteils--input",type: "text"
            .fas.fa-chevron-down.item_new__allow-icon

        %hr.item_new__line
        .item_new__price
          .item_new__price--titel
            .item-new__sub--title
              販売価格(300~9,999,999)
              .fas.fa-question-circle.item_new_question
          .item_new__price--right-box.item_new__right-box
            .item_new__price--price
              .item_new__price--price-title
                .item_new__price--price-title-title
                  価格
                .item_new__need_mark-price
                  .item_new__need_mark
                    必須
                .item_new__yen_mark
                  ¥
              = f.text_field :price ,class: "item_new__price--price-input",type: "text",placeholder:"例) 300"
            %hr
            .item_new__price--price-sales-commission
              .item_new__price--price-sales-commission-title
                販売手数料 (10%)
              .item_new__price--price-sales-commission-value
                ー
            %hr
            .item_new__price--price-profit
              .item_new__price--price-profit-title
                販売利益
              .item_new__price--price-profit-value
                ー
        %hr.item_new__line
        .item_new__send
          .item_new__send--text
            = link_to "禁止されている出品"
            、
            = link_to "行為"
            を必ずご確認ください。
            %br
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to "偽ブランドの販売"
            は犯罪であり処罰される可能性があります。
            %br
            また、出品をもちまして
            = link_to "加盟店規約"
            に同意したことになります。
            = f.hidden_field :status_id , value: "1"

            = f.submit "出品する", class: "item_new__send--send-button"
          .item_new__send--back-button
            もどる


  = render "shered/item_fotter"
