= render "shered/header"
.wapper
  .tops_show
    .tops_show__main
      %h1.tops_show__main--header ベルツァー 西ドイツ製 工具
      .tops_show__main--top
        .tops_show__main--image
          = image_tag('/tops_show/m40277878604_1.jpg', class: "tops_show__main--left")
          .tops_show__main--right
            = image_tag('/tops_show/m40277878604_2.jpg', class: "tops_show__main--details")
            = image_tag('/tops_show/m40277878604_3.jpg', class: "tops_show__main--details")
            = image_tag('/tops_show/我に従え.jpg', class: "tops_show__main--details")
            = image_tag('/tops_show/437683.png', class: "tops_show__main--details")
            = image_tag('/tops_show/オリックス.jpeg', class: "tops_show__main--details")
            = image_tag('/tops_show/ヤンキース.jpeg', class: "tops_show__main--details")
            = image_tag('/tops_show/阪神タイガース.png', class: "tops_show__main--details")
        %table.tops_show__main--information
          .tops_show__main--exhibitor
            %th.tops_show__main--exhibitor-left
              出品者
            %td.tops_show__main--exhibitor-right
              =link_to "bunbun","",class: "exhibitor__right--name"
              .expression
                .fas.fa-laugh.smail
                %span 373
                .fas.fa-meh.usually
                %span 11
                .fas.fa-frown.sad
                %span 0
          %tr.tops_show__main--category
            %th.tops_show__main--category-left
              カテゴリー
            %td.tops_show__main--category-right
              = link_to "自転車・オートバイ","",class: "tops_show__main--category-first"
              %br
              = link_to "",class: "tops_show__main--category-second" do
                %i.fas.fa-chevron-right
                オートバイパーツ
              %br
              = link_to "",class: "tops_show__main--category-third"do
                %i.fas.fa-chevron-right
                メンテンナス
          %tr.tops_show__main--bland
            %th.tops_show__main--bland-left ブランド
            %td.tops_show__main--bland-right
              = link_to "4℃","",class: "tops_show__main--bland-right-name"
          %tr.tops_show__main--product-status
            %th.tops_show__main--product-status-left 商品の状態
            %td.tops_show__main--product-status-right 新品、未使用
          %tr.tops_show__main--delivery-fee
            %th.tops_show__main--delivery-fee-left 配送料の不安
            %td.tops_show__main--delivery-fee-right 送料込み（出品者負担）
          %tr.tops_show__main--delivery-method
            %th.tops_show__main--delivery-method-left 配送の方法
            %td.tops_show__main--delivery-method-right らくらくメルカリ便
          %tr.tops_show__main--delivery-source-area
            %th.tops_show__main--delivery-source-area-left 配送元地域
            %td.tops_show__main--delivery-source-area-right
              = link_to "大阪府","",class: "prefecture"
          %tr.tops_show__main--date-of-shipment
            %th.tops_show__main--date-of-shipment-left 発送日の目安
            %td.tops_show__main--date-of-shipment-right １〜２日で発送
      .tops_show__main--money
        %span.tops_show__main--price ¥ 8,888
        %span.tops_show__main--tax （税込）
        %span.tops_show__main--fee 送料込み

      = link_to "購入画面に進む","",class: "tops_show__main--purchase"
      .tops_show__main--text
        .tops_show__main--description
          ベルツァー  スピーダー ハンドル  7752
          差し込み角:3/8
          全長:420mm
          新品未使用(長期保管の為、少々の傷などはありますが、メッキ剥がれ等はございません)

          今はなきベルツァー、ましてスピーダーハンドルの新品はまず出ないと思います。コレクターの方はぜひどうぞ！

          1988年製、当時スナップオンよりも高価なベルツァー は、市場に出回る品物も少なく手に入れるのはかなり難しいと思います。サンドビックやバーコの傘下に入る前の正真正銘のベルツァー  です。購入当時、高価で有名な、スナップオンよりもさらに2〜3割高いとんでもない幻の工具でした。現在も、かなりの種類のベルツァー  を使用しております。プラスドライバーも30年使い続けていますが、未だに現役です。ベルツァー  バナジウムエキストラ工具鋼    怖るべし！
          セールス上手の見た目優先のアメリカン工具とは格が違います。

          即決歓迎❗️コメント無し即買い可‼️早い者勝ち❗️



          ベルツァー  ハゼット  スタビレー  スナップオン  マック 工具BELZER

        .tops_show__main--containre
          .tops_show__main--containre-left
            .tops_show__main--containre-left-like
              %i.far.fa-heart
              =link_to "いいね！1","",class: "tops_show__main--good"
            .tops_show__main--containre-left-warning
              %i.far.fa-flag
              =link_to "不適切な商品の報告","",class: "tops_show__main--report"
          .tops_show__main--containre-right
            = link_to "",class: "tops_show__main--containre-right-lock" do
              %i.fas.fa-lock
              あんしん・あんぜんへの取り組み

    .tops_show__message
      .tops_show__message--coteiner
        .tops_show__message--comment
          .tops_show__message--item
            .tops_show__message--grafic
              .tops_show__message--messagebody-main
                = link_to mypage_path do
                  = image_tag("/top_images/mercari_icon.png",class: "tops_show__message--grafic-image")
                .tops_show__message--messagebody-a
                  %figcaption.bold ❁ ぴょんぴょん ❁
                  .tops_show__message--messageboby
                    .tops_show__message--messageboby-text
                      .tops_show__message--messageboby-text-comment
                        .tops_show__message--messageboby-text-comment2
                          コメント失礼します(＞＜)購入希望ですが、3400円はキツイでしょうか？(＞＜)
                        .tops_show__message--messageboby-text-clock
                          %i.far.fa-clock
                            １日前
                          %i.far.fa-flag
              %form.tops_show__message--form
                %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
                %textarea
                .tops_show__message--button
                  %span コメントする

    %ul.tops_show__next
      %li.tops_show__next--left
        = link_to "",class: "tops_show__next--left-side" do
          %i.fas.fa-chevron-left
          デニムショートパンツ
      %li.tops_show__next--right
        = link_to "",class: "tops_show__next--right-side" do
          本鼈甲 ネクタイピン カフスセット
          %i.fas.fa-chevron-right

    .tops_show__media-box
      %ul.tops_show__media-box--social
        .tops_show__media-box--icon
          %a.tops_show__media-box--facebook
            %i.fab.fa-facebook
          %a.tops_show__media-box--twiter
            %i.fab.fa-twitter
          %a.tops_show__media-box--pinterest
            %i.fab.fa-pinterest

.top-main--exhibitor
  .top-products--exhibitor
    .pickup
      .pickup__title
      .pickup__subtitle--exhibitor
        メルカリさんのその他の商品
      .pickup__products
        .product
          .product__image
            = image_tag('/top_images/test1.jpg', class: "test_image")
          .product__body
            .product__name
              マーガレッド ハウエル サンダルああああああああ
              .product__name_linear
            .product__price_and_like
              .product__prices
                .product__price
                  ¥4,000
                .product__tax
                  (税込)
              .product__like
                .far.fa-heart.product__good_icon
                .product__like_num
                  12

        .product
          .product__image
            = image_tag('/top_images/test1.jpg', class: "test_image")
          .product__body
            .product__name
              マーガレッド ハウエル サンダルああああああああ
              .product__name_linear
            .product__price_and_like
              .product__prices
                .product__price
                  ¥4,000
                .product__tax
                  (税込)
              .product__like
                .far.fa-heart.product__good_icon
                .product__like_num
                  12

        .product
          .product__image
            = image_tag('/top_images/test1.jpg', class: "test_image")
          .product__body
            .product__name
              マーガレッド ハウエル サンダルああああああああ
              .product__name_linear
            .product__price_and_like
              .product__prices
                .product__price
                  ¥4,000
                .product__tax
                  (税込)
              .product__like
                .far.fa-heart.product__good_icon
                .product__like_num
                  12

        .product
          .product__image
            = image_tag('/top_images/test1.jpg', class: "test_image")
          .product__body
            .product__name
              マーガレッド ハウエル サンダルああああああああ
              .product__name_linear
            .product__price_and_like
              .product__prices
                .product__price
                  ¥4,000
                .product__tax
                  (税込)
              .product__like
                .far.fa-heart.product__good_icon
                .product__like_num
                  12

      .pickup__products

        .product
          .product__image
            = image_tag('/top_images/test1.jpg', class: "test_image")
          .product__body
            .product__name
              マーガレッド ハウエル サンダルああああああああ
              .product__name_linear
            .product__price_and_like
              .product__prices
                .product__price
                  ¥4,000
                .product__tax
                  (税込)
              .product__like
                .far.fa-heart.product__good_icon
                .product__like_num
                  12
        .product
          .product__image
            = image_tag('/top_images/test1.jpg', class: "test_image")
          .product__body
            .product__name
              マーガレッド ハウエル サンダルああああああああ
              .product__name_linear
            .product__price_and_like
              .product__prices
                .product__price
                  ¥4,000
                .product__tax
                  (税込)
              .product__like
                .far.fa-heart.product__good_icon
                .product__like_num
                  12

        .product
          .product__image
            = image_tag('/top_images/test1.jpg', class: "test_image")
          .product__body
            .product__name
              マーガレッド ハウエル サンダルああああああああ
              .product__name_linear
            .product__price_and_like
              .product__prices
                .product__price
                  ¥4,000
                .product__tax
                  (税込)
              .product__like
                .far.fa-heart.product__good_icon
                .product__like_num
                  12

        .product
          .product__image
            = image_tag('/top_images/test1.jpg', class: "test_image")
          .product__body
            .product__name
              マーガレッド ハウエル サンダルああああああああ
              .product__name_linear
            .product__price_and_like
              .product__prices
                .product__price
                  ¥4,000
                .product__tax
                  (税込)
              .product__like
                .far.fa-heart.product__good_icon
                .product__like_num
                  12
= render "shered/fotter"
