%fotter.fotter
  .fotter__image
    .fotter__image_buttons
      = image_tag('/top_images/mobiles_image.png',class: "mobile_image")
      .fotter__sub_box
        .fotter__sub_text
          スマホでかんたんフリマアプリ
        .fotter__main_text
          今すぐ無料ダウンロード！
        = image_tag('/top_images/mercari_icon.png', class: "mercari_box_icon")
        = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8" do
          = image_tag('/top_images/app-store.svg', class: "app_store_icon")
        = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja" do
          = image_tag('/top_images/google-play.svg', class: "google_play_icon")

  .fotter__links
    .fotter__main
      .fotter__about_mercari
        .about_mercari__title.fotter__title
          メルカリについて
        .about_mercari__child.fotter__child
          .link= link_to "会社概要　(運営会社)"
          .link= link_to "採用情報"
          .link= link_to "プレスリリース"
          .link= link_to "公式ブログ"
          .link= link_to "メルカリロゴ利用ガイドライン"
          .about_mercari__child--logos
            = link_to "https://twitter.com/mercari_jp" do
              = icon('fab','twitter', class: "twitter_icon")
            = link_to "https://www.facebook.com/mercarijp" do
              = icon('fab','facebook', class: "facebook_icon")

          .about_mercari__child--logos
      .fotter__help_guide
        .help_guide__title.fotter__title
          ヘルプ＆ガイド
        .help_guide__child.fotter__child
          .link= link_to "メルカリガイド"
          .link= link_to "らくらくメルカリ便"
          .link= link_to "ゆうゆうメルカリ便"
          .link= link_to "大型メルカリ便"
          .link= link_to "車体取引ガイド"
          .link= link_to "メルカリあんしん・あんぜん宣言！"
          .link= link_to "偽ブランド撲滅への取り組み"
          .link= link_to "メルカリボックス"

      .fotter__privacy
        .privacy__title.fotter__title
          プライバシーと利用規約
        .privacy__child--box
          .privacy__child--left.fotter__child
            .link= link_to "プライバシーポリシー"
            .link= link_to "メルカリ利用規約"
            .link= link_to "メルカリ利用規約・有償ポイント\nに関する利用特約"
            .link= link_to "あんしんスマホサポート制度に関\nする利用規約"
            .link= link_to "コンプライアンスポリシー"
          .privacy__child--right.fotter__child
            .link= link_to "個人データの安全管理に係る基本\n方針"
            .link= link_to "特定商取引に関する表記"
            .link= link_to "資金決済法に基づく表記"
            .link= link_to "法令遵守と犯罪抑止のために"
            .link= link_to "返品・返金ポリシー"

      .fotter__country
        .country__title.fotter__title
          国
        .country__child.fotter__child
          .link= link_to "日本"
          .link= link_to "United States"
    .fotter__bottom
      .fotter__mercari_icon
        = image_tag('/top_images/mercari_white_icon.svg', class: "f_mercari_icon")

      .fotter__copyright
        ©2019 Meracari

= link_to new_top_path do
  .camera__button
    出品
    %br
    = icon('fas', 'camera',class: "camera_icon")

