- status_bar_main_number = 0
.registration__wrapper
  = render '/signup/shered/signup_header', status_bar_main_number: status_bar_main_number
  .registration__main
    .registration__main--title
      会員情報入力
    .registration__form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .registration__form--nickname.registration__form--group
          .registration__form--name
            .registration__child--title
              ニックネーム
            .registration__need_mark
              必須
          %input.registration__form--nickname-input.registration__form--input{type: "text",placeholder:"例) メルカリ太郎"}

        .registration__form--e-mail-address.registration__form--group
          .registration__form--name
            .registration__child--title
              メールアドレス
            .registration__need_mark
              必須
          = f.email_field :email, class: "registration__form--nickname-input registration__form--input",type: "text",placeholder:"PC ・ 携帯どちらでも可"
        .registration__form--password.registration__form--group
          .registration__form--name
            .registration__child--title
              パスワード
            .registration__need_mark
              必須
          = f.password_field :password, autocomplete: "off", class: "registration__form--password-input registration__form--input", type: "text",placeholder:"６文字以上"
        .registration__form--password-confirmation.registration__form--group
          .registration__form--name
            .registration__child--title
              パスワード (確認)
            .registration__need_mark
              必須
          = f.password_field :password_confirmation, autocomplete: "off", class: "registration__form--password-confirmation-input registration__form--input",type: "text",placeholder:"６文字以上"
        .registration__form-confirmation.registration__form--group
          .registration__form-confirmation-title
            本人確認
          .registration__form-confirmation-text
            安心・安全にご利用いただくために、お客様の本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .registration__form--last_name.registration__form--group
          .registration__form--name
            .registration__child--title
              姓(全角)
            .registration__need_mark
              必須
          %input.registration__form--last_name-input.registration__form--input{type: "text",placeholder:"例) 山田"}
        .registration__form--first_name.registration__form--group
          .registration__form--name
            .registration__child--title
              名(全角)
            .registration__need_mark
              必須
          %input.registration__form--first_name-input.registration__form--input{type: "text",placeholder:"例) 彩"}
        .registration__form--last_name-kana.registration__form--group
          .registration__form--name
            .registration__child--title
              姓カナ(全角)
            .registration__need_mark
              必須
          %input.registration__form--last_name-kana-input.registration__form--input{type: "text",placeholder:"例) ヤマダ"}

        .registration__form--first_name-kana.registration__form--group
          .registration__form--name
            .registration__child--title
              名カナ(全角)
            .registration__need_mark
              必須
          %input.registration__form--first_name-kana-input.registration__form--input{type: "text",placeholder:"例) アヤ"}
        .registration__form--birthdays.registration__form--group
          .registration__form--name
            .registration__child--title
              生年月日
            .registration__need_mark
              必須
          .registration__form--birthday
            .registration__form--birthday-input
              %input.registration__form--birthday-input-box{type: "text",placeholder:"--"}
              = icon('fas','chevron-down',class: "registration__form--allow-icon")
            .registration__form--birthday-unit
              年

          .registration__form--birthday
            .registration__form--birthday-input
              %input.registration__form--birthday-input-box{type: "text",placeholder:"--"}
              = icon('fas','chevron-down',class: "registration__form--allow-icon")
            .registration__form--birthday-unit
              月
          .registration__form--birthday
            .registration__form--birthday-input
              %input.registration__form--birthday-input-box{type: "text",placeholder:"--"}
              = icon('fas','chevron-down',class: "registration__form--allow-icon")
            .registration__form--birthday-unit
              日
          .registration__form--birthday-notes
            ※本人情報は正しく入力してください。会員登録後、修正するにはお時間をいただく場合があります。

        .registration__form--reCAPTCHA.registration__form--group
          = image_tag('/links/reCAPTCHA.png', class: "login__form--mercari-login-reCAPTCHA-icon")
        .registration__form--terms_of_service
          「次へ進む」のボタンを押すことにより、
          = link_to("利用規約","", class: "registration__form--terms_of_service-link")
          に同意したものとみなします
        .registration__form--submit.registration__form--group
          = f.submit "次へ進む", class: 'btn registration__form--submit-button'
        .registration__form--Personal_information_registration.registration__form--group
          = link_to  do
            本人情報の登録について
            = icon('fas','chevron-right')

= render "/signup/shered/signup_fotter"


