.login
  .login__wrapper
    .login__header
      = link_to root_path do
        = image_tag("/top_images/mercari_color.svg", class: "mercari_calor_icon" )

  .login__main
    .login__signup--link
      .login__signup--link-description
        アカウントをお持ちでない方はこちら
      = link_to signup_index_path do
        .login__signup--link-button
          新規会員登録
    .login__form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login__form--facebook
          .login__form--facebook-button
            .fab.fa-facebook.login__facebook_icon
            Facebookでログイン
        .login__form--google
          .login__form--google-button
            = image_tag('/links/google.svg', class: "login__google_icon")
            Googleでログイン
        .login__form--mercari-login
          = f.email_field :email, autofocus: true, class: "login__form--mercari-login-email", placeholder: "メールアドレス"

          = f.password_field :password, autocomplete: "off",class: "login__form--mercari-login-password",placeholder: "パスワード"
          .login__form--mercari-login-reCAPTCHA
            = image_tag('/links/reCAPTCHA.png', class: "login__form--mercari-login-reCAPTCHA-icon")
          = f.submit "ログイン", class: "login__form--mercari-login-submit"
        .login__form--forget
          = link_to 'パスワードをお忘れの方','',class: "login__form--forget-link"



  .login__fotter
    .login__fotter-buttons
      .login__fotter-button
        プライバシーポリシー
      .login__fotter-button
        メルカリ利用規約
      .login__fotter-button
        特定商取引に関する表記
    .login__fotter_icon
      = image_tag("/top_images/mercari_gray.svg")
    .login__fotter_copyright
      ©︎2019 Mercari
